<%= javascript_include_tag "progressbar" %>
<%= javascript_include_tag "teams" %>
<div class="nav">
  <div class="logo">
    <img src="https://sahajsoft.com/wp-content/themes/sahaj/images/sahaj-software-logo.png" height="50px">
  </div>
</div>
<div class="quote-container">
  <i class="pin"></i>
  <blockquote class="note yellow">
  What you have to do?
  <ul>
    <li> solve your clue </li>
    <li> verify your solution </li>
    <li> post a selfie :) </li>

  </ul>
  </blockquote>
</div>
<div>
<div class="head">
  <h1>Find Your Teammate!<h1>
</div>

<div class="strip">
  <% @teams.each do |team| %>

<div class="container" id="container_<%= team.name %>" name=<%= team.name %> colour=<%= team.colour %> pct=<%= (team.members_found.to_f/team.total_members.to_f)%>>
</div>
<% end %>
</div>
<div class="input-form">
  <form method="post" action=<%=root_url+'home/member/identify'%> >
    <input type="text" name="employee_id" maxlength="4" placeholder="Your Teammate" >
    <input type="submit" value="Verify">
  </form>
</div>
